version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    reviewers:
      - "owner"
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps:"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    reviewers:
      - "owner"
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps(docker):"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    reviewers:
      - "owner"
    labels:
      - "dependencies"
    commit-message:
      prefix: "ci:"
